@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.app {
  max-width: 400px;
  margin: auto;
  padding: 0  1.5rem; 
}

.app .form-input {
 position: relative;
}

.app .form-input .icon {
  position: absolute;
  left: 12px;
  top: 5px;
  font-size: 25px;
  color: #4b00ff;
}

.app .item-row {
border: 2px solid #eee;
padding: 6px 10px;
font-size: 18px;
line-height: 30px;
margin: 8px 0;
width: 100%;
border-radius: 8px;
display: flex;
align-items: center;
justify-content: space-between;
}

.app .item-row .icon {
  font-size: 25px;
  color: #4b00ff;
  cursor: pointer;
}

.app .item-row p {
  text-transform: capitalize;
}

.completed {
  background-color: #eee;
  text-decoration: line-through;  
}

.shop-icon {
  color: #4b00ff;
}

h1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

span {
  margin: 0 0.5rem;
}

.app .form-input input {
  border: 2px solid #eee;
  padding: 0px 10px 0px 50px;
  border-radius: 8px;
  font-size: 18px;
  line-height: 30px;
  display: block;
  outline: 0;
  width: 100%; 
}

input:focus {
  outline: none;
}

.container h1 {
  font-size: 2rem;
  font-weight: 700;
  margin-top: 2rem;
}

button {
  margin-left: 5px;
  padding: 0 5px;
  border: 1px solid black;
}

.date { 
  text-align: center;
  margin: 1rem 0 1rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.date p {
  padding: 0 2px;
}

.counter {
  text-align: center;
  border-radius: 8px;
  background-color: #4b00ff;
  color: #fff;
  margin-top: 1rem;
  padding: 3px 0;
}